@charset "utf-8";
/* CSS Document */

/*
*
* VARIABLES
*
*/
:root {
  --main-bkg-color: #fdfdfd;

  --body-color: #333;
	--body-light-color: #666;

	--link-color: #0275d8;
	--link-hover-color: #3397db;
	--link-hover-dark-color: #01447e;

	--accent-color1: #252831;
  --accent-color2: #01447e;
	--accent-color3: #444;

	--ui-lightest: #fff;
	--ui-lighter: #eee;
	--ui-light: #ddd;
	--ui-medium-light: #ccc;
	--ui-medium: #bbb;
	--ui-medium-dark: #aaa;
	--ui-darkest: #000;
}



/*
*
* BASE STYLES
*
*/

body,td,th,p{
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: var(--body-color);
	line-height: 1.5;
}

body {
	background-color: var(--main-bkg-color);
	margin: 0;
	position:relative;
}

ul, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: var(--body-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover, a:focus {
	color: var(--link-hover-color);
	text-decoration: none;
}

a img{
	border: none 0px var(--ui-lightest);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, section {
	display: block;
}


/*
*
* NAVIGATION
*
*/

nav {
  width: 100%;
  height: 80px;
	display: flex;
  background-color: var(--accent-color1);
	justify-content: space-around;
}

nav h1 {
	align-self: center;
	margin: 0 30px;
	text-align: center;
}

nav h1 a {
	font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
	color: var(--ui-lightest);
}

.footer {
  background-color: #444;
  color: var(--ui-light);
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.footer a {
  color: var(--ui-lightest);
}

.footer a:hover, .footer a:focus {
	color: var(--link-hover-color);
}

.breadcrumb {
		width: 100%;
		margin: 0;
    padding: 10px 40px 16px;
    list-style: none;
    background-color: var(--ui-lightest);
		box-shadow: 0 4px 6px -6px var(--ui-medium-dark);
    font-size: 17px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: var(--ui-darkest);
    content: "/\00a0";
}

.breadcrumb li a {
    color: var(--link-color);
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: var(--link-hover-dark-color);
    text-decoration: underline;
}


/*
*
* MAPS
*
*/

.map {
  width: 100%;
  background-color: var(--ui-medium-light);
}


/* ====================== HOMEPAGE ====================== */

.home-page {
  background-color: var(--main-bkg-color);
  min-height: 100%;
}

.home-map {
  height: 60vw;
}


/*
*
* FILTERING OPTIONS
*
*/

.filter-options {
	padding: 15px 30px;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--accent-color1);
}

.filter-options h2 {
	width: 100%;
	margin: 0;
  font-size: 1rem;
  font-weight: normal;
	line-height: 1;
	color: var(--ui-lightest);
}

.filter-options select {
	width: 170px;
	height: 35px;
	margin: 5px 10px 0 0;
	padding: 0 10px;
	font-size: 11pt;
	font-family: Arial,sans-serif;
	letter-spacing: 0;
  background-color: var(--ui-lightest);
  border: 1px solid var(--ui-lightest);
}


/*
*
* RESTAURANT LISTINGS
*
*/

.restaurants-list {
	margin: 0;
  padding: 30px 30px 60px;
	display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
	list-style: outside none none;
  background-color: var(--main-bkg-color);
}

.restaurants-list li {
	min-width: 250px;
	min-height: 380px;
	padding: 0 0 20px;
  text-align: left;
	border: 2px solid var(--ui-medium-light);
  background-color: var(--ui-lightest);
}

.restaurants-list div {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.restaurant-img {
  background-color: var(--ui-medium-light);
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

.restaurant-text {
  margin: 0 30px;
}

.restaurants-list li h1 {
	margin: 20px 0 10px 0;
  color: var(--accent-color2);
  font-size: 15pt;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 1.3;
  text-transform: uppercase;
}

.restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

.restaurants-list li a {
	max-width: 100px;
	margin: 15px 30px;
  padding: 8px 30px 10px;
	align-self: center;
	font-size: 10pt;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	color: var(--ui-lightest);
	background-color: var(--link-color);
  border-bottom: 3px solid var(--ui-lighter);
}

.restaurants-list li a:hover, .restaurants-list li a:hover {
	background-color: var(--link-hover-dark-color);
}


/* ====================== RESTAURANT DETAILS PAGE ====================== */

/*
*
* RESTAURANT DETAILS
*
*/

.restaurant-details-page header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.maincontent-restaurant{
	display: flex;
	flex-wrap: wrap;
	padding: 130px 0 80px 0;
}

.detail-map-container {
	order: 1;
	width: 100%;
	margin: 0;
  background: var(--accent-color2) none repeat scroll 0 0;
}

.detail-map {
  height: 70vw;
}

.restaurant-info{
	order: 2;
	width: 100%;
}

.restaurant-container, .reviews-container {
	padding: 0 40px 30px;
	border-bottom: 1px solid var(--ui-medium-light);
  border-top: 1px solid var(--ui-lightest);
	background-color: var(--ui-lighter);
}

.restaurant-name{
	width: 100%;
  color: var(--accent-color2);
  font-size: 20pt;
  font-weight: 600;
  letter-spacing: 0;
  margin: 20px 0 15px;
  text-transform: uppercase;
  line-height: 1.1;
}

.restaurant-img {
	width: 100%;
}

.restaurant-cuisine {
	width: 100%;
	margin: 0 0 20px 0;
  padding: 2px 0;
  background-color: var(--body-color);
  color: var(--ui-light);
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

.restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

.restaurant-hours td {
  color: var(--body-light-color);
}

.reviews-container {
  padding: 30px 40px 0;
}

.reviews-container h2 {

}

.reviews-list {
  margin: 0;
  padding: 0;
}

.reviews-list li {
	margin: 0 0 30px;
	padding: 0 0 15px;
	position: relative;
	display: inline-block;
  background-color: var(--ui-lightest);
  border: 2px solid var(--main-bkg-color);
	border-radius: 10px;
  list-style-type: none;
  overflow: hidden;
}

.review-header{
	background-color: var(--accent-color1);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.review-name {
	margin: 10px 20px;
	width: 30%;
	color: var(--ui-lightest);
	font-size: 16px;
}

.review-date {
	width: 70%;
	color: var(--ui-medium-light);
	text-align: right;
}

.review-rating {
	width: 90px;
	padding: 5px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 10pt;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
	color: var(--ui-lightest);
	border-radius: 5px;
	background-color: var(--accent-color2);
}

.reviews-list li p {
  margin: 12px 20px;
}


/*
*
* Media Queries
*
*/

@media screen and (min-width: 550px) {

/* ====================== HOMEPAGE ====================== */

	.restaurants-list {
		grid-template-columns: repeat(2, 1fr);
	}
}


@media screen and (min-width: 800px) {

/* ====================== HOMEPAGE ====================== */

	.restaurants-list {
		grid-template-columns: repeat(3, 1fr);
	}

	.home-map {
	  height: 35vw;
	}


/* ====================== RESTAURANT DETAILS PAGE ====================== */

	.detail-map-container {
		order: 2;
		width: 60%;
	}

	.detail-map {
	  height: 100%;
	}

	.restaurant-info{
		order: 1;
		width: 40%;
	}
}


@media screen and (min-width: 1200px) {

/* ====================== HOMEPAGE ====================== */

	.restaurants-list {
		width: 1140px;
		margin: auto;
	}

	.home-map {
	  height: 25vw;
	}
}
